<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeClock</title>
    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/clock.css' />
    </head>
    <body>
        <div class="grid">
            <div id="box">
                <canvas id="clock"></canvas>
            </div>
        </div>
    <!-- Custom Script -->
    <script src="/javascripts/Vector.js"></script>
    <script src="/javascripts/clock.js"></script>
	<script src="/javascripts/CCGNodeClient.js"></script>
    </body>
</html>
