<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CasparCG</title>
<script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.min.js"></script>
    <!-- Add Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/javascripts/bootstrap/css/bootstrap.min.css">
    <!-- Add FontAwesome -->
    <link rel="stylesheet" href="/javascripts/font-awesome/css/all.css">
    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/ccg_node_style.css' />
</head>
<body onload="ignition();">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
			<table id="setupcontent">
					<td width="50%">
					<table width="100%">
					<td width="50%">
					<table width="100%">
						<tr><th>TEMPLATES</th></tr>
						<tr><td id="tempList"></td></tr>
					</table>
					</td>
					<td width="50%">
						<table width="100%">
						<tr><th>OBS SCENES</th></tr>
						<tr><td id="OBSList"></td></tr>
					</table>
					</table>
					
					</td>
					<td width="50%">
					<div id="setServ"><div class="card-body bg-light text-center ">
					<table class="settings">
					<tr><th></th><th>Address</th><th>AMCP Port</th><th>OSC Port</th><th>SCAN Port</th><th></th><th>VTR 1</th><th>VTR 2</th><th>BUG 1</th><th>BUG 2</th><th>DVE 1</th><th>DVE 2</th><th>DVE 3</th><th>DVE 4</th><th>AUX 1</th></tr>
					<tr>
					<td class="head"><h2 class="ccg">CASPAR CG</h2></td>
					<td><FORM><input id="server" value=""></FORM></td>
					<td><FORM><input id="amcport" class="port" value=""></FORM></td>
					<td><FORM><input id="oscport" class="port" value=""></FORM></td>
					<td><FORM><input id="scanport" class="port" value=""></FORM></td>
					<td><button id="addSRV" >Add</button></td>
					<td><FORM>
					<SELECT class="dropdown" id="vtr1" size="1" onchange="saveChannel('vtr1');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="vtr2" size="1" onchange="saveChannel('vtr2');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="bug1" size="1" onchange="saveChannel('bug1');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="bug2" size="1" onchange="saveChannel('bug2');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="dve1" size="1" onchange="saveChannel('dve1');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="dve2" size="1" onchange="saveChannel('dve2');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="dve3" size="1" onchange="saveChannel('dve3');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="dve4" size="1" onchange="saveChannel('dve4');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT id="aux1" size="1" onchange="saveChannel('aux1');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					</tr>
					<tr>
					<td class="head"><h2 class="ccg"></h2></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<th>LAYERS</th>
					<td><FORM>
					<SELECT class="dropdown" id="lvtr1" size="1" onchange="saveLayer('lvtr1');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="lvtr2" size="1" onchange="saveLayer('lvtr2');">
					<OPTION value="1">1</OPTION>
					<OPTION value="2">2</OPTION>
					<OPTION value="3">3</OPTION>
					<OPTION value="4">4</OPTION>
					<OPTION value="5">5</OPTION>
					<OPTION value="6">6</OPTION>
					<OPTION value="7">7</OPTION>
					<OPTION value="8">8</OPTION>
					<OPTION value="9">9</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="lbug1" size="1" onchange="saveLayer('lbug1');">
					<OPTION value="10">10</OPTION>
					<OPTION value="11">11</OPTION>
					<OPTION value="12">12</OPTION>
					<OPTION value="13">13</OPTION>
					<OPTION value="14">14</OPTION>
					<OPTION value="15">15</OPTION>
					<OPTION value="16">16</OPTION>
					<OPTION value="17">17</OPTION>
					<OPTION value="18">18</OPTION>
					<OPTION value="19">19</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="lbug2" size="1" onchange="saveLayer('lbug2');">
					<OPTION value="10">10</OPTION>
					<OPTION value="11">11</OPTION>
					<OPTION value="12">12</OPTION>
					<OPTION value="13">13</OPTION>
					<OPTION value="14">14</OPTION>
					<OPTION value="15">15</OPTION>
					<OPTION value="16">16</OPTION>
					<OPTION value="17">17</OPTION>
					<OPTION value="18">18</OPTION>
					<OPTION value="19">19</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="ldve1" size="1" onchange="saveLayer('ldve1');">
					<OPTION value="10">10</OPTION>
					<OPTION value="11">11</OPTION>
					<OPTION value="12">12</OPTION>
					<OPTION value="13">13</OPTION>
					<OPTION value="14">14</OPTION>
					<OPTION value="15">15</OPTION>
					<OPTION value="16">16</OPTION>
					<OPTION value="17">17</OPTION>
					<OPTION value="18">18</OPTION>
					<OPTION value="19">19</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="ldve2" size="1" onchange="saveLayer('ldve2');">
					<OPTION value="10">10</OPTION>
					<OPTION value="11">11</OPTION>
					<OPTION value="12">12</OPTION>
					<OPTION value="13">13</OPTION>
					<OPTION value="14">14</OPTION>
					<OPTION value="15">15</OPTION>
					<OPTION value="16">16</OPTION>
					<OPTION value="17">17</OPTION>
					<OPTION value="18">18</OPTION>
					<OPTION value="19">19</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="ldve3" size="1" onchange="saveLayer('ldve3');">
					<OPTION value="10">10</OPTION>
					<OPTION value="11">11</OPTION>
					<OPTION value="12">12</OPTION>
					<OPTION value="13">13</OPTION>
					<OPTION value="14">14</OPTION>
					<OPTION value="15">15</OPTION>
					<OPTION value="16">16</OPTION>
					<OPTION value="17">17</OPTION>
					<OPTION value="18">18</OPTION>
					<OPTION value="19">19</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td><FORM>
					<SELECT class="dropdown" id="ldve4" size="1" onchange="saveLayer('ldve4');">
					<OPTION value="10">10</OPTION>
					<OPTION value="11">11</OPTION>
					<OPTION value="12">12</OPTION>
					<OPTION value="13">13</OPTION>
					<OPTION value="14">14</OPTION>
					<OPTION value="15">15</OPTION>
					<OPTION value="16">16</OPTION>
					<OPTION value="17">17</OPTION>
					<OPTION value="18">18</OPTION>
					<OPTION value="19">19</OPTION>
					</SELECT>
					</FORM>
					</td>
					<td>
					</td>
					</tr>
					</table>
					<table class="settings">
					<tr><th></th><th>Main Address</th><th>Main Port</th><th></th><th>Aux Address</th><th>Aux Port</th><th></th></tr>
					<tr>
					<td class="head"><h2 class="ccg">OBS</h2></td>
					<td><FORM><input id="obsserver" value=""></FORM></td>
					<td><FORM><input id="obsport" class="port" value=""></FORM></td>
					<td><button id="addObs" >Add</button></td>
					<td><FORM><input id="auxserver" value=""></FORM></td>
					<td><FORM><input id="auxport" class="port" value=""></FORM></td>
					<td><button id="addAUX" >Add</button></td>
					</tr></table>
					</div></div>
					<div id="temp1">
						<div class="card-body bg-light text-center ">
							<div class="row">
								<h2 class="sTemp col-4">DVE 1</h2>
								<h2 class="col-4"><div id="CH3temp"></div></h2>
								<h2 class="col-3">Json ?<input onclick="" id="1" type="checkbox" class="col-2"></h2>
							</div>
						</div>
					</div>
					<div id="temp2">
						<div class="card-body bg-light text-center ">
							<div class="row">
								<h2 class="sTemp col-4">DVE 2</h2>
								<h2 class="col-4"><div id="CH4temp"></div></h2>
								<h2 class="col-3">Json ?<input onclick="" id="2" type="checkbox" class="col-2"></h2>
							</div>
						</div>
					</div>
					<div id="temp3">
						<div class="card-body bg-light text-center ">
							<div class="row">
								<h2 class="sTemp col-4">DVE 3</h2>
								<h2 class="col-4"><div id="CH5temp"></div></h2>
								<h2 class="col-3">Json ?<input onclick="" id="3" type="checkbox" class="col-2"></h2>
							</div>
						</div>
					</div>
					<div id="temp4">
						<div class="card-body bg-light text-center ">
							<div class="row">
								<h2 class="sTemp col-4">DVE 4</h2>
								<h2 class="col-4"><div id="CH6temp"></div></h2>
								<h2 class="col-3">Json ?<input onclick="" id="4" type="checkbox" class="col-2"></h2>
							</div>
						</div>
					</div>
					<div><div class="card-xkeys bg-light text-center ">
					<div class="row"><h2 class="sTemp col-4">Xkeys Config</h2></div>
						<table id="XkeysLine1" width="100%"><tr></tr></table>
						<table id="XkeysLine2" width="100%"><tr></tr></table>
						<table id="XkeysLine3" width="100%"><tr></tr></table>
						<table id="XkeysLine4" width="100%"><tr></tr></table>
						<table id="XkeysSetAux1" width="100%"><tr></tr></table>
						<table id="XkeysSetAux2" width="100%"><tr></tr></table>
						<table id="XkeysSetPGM" width="100%"><tr></tr></table>
						<table id="XkeysSetPVW" width="100%"><tr></tr></table>
					</div></div>
					</td>
			</table>
			<table>
				<tr>
					<td><button id="Konnek"><i class="fas fa-cls"></i>Connect</button></td>
					<td><button id="sniffAction" action="cls"><i class="fas fa-cls"></i>Library Refresh</button></td>
					<td><button id="sniffAction" action="tls" class="tembut"><i class="fas fa-cls"></i>Template Refresh</button></td>
				</tr>
			</table>
			    <button id="setup"><i class="fas fa-cog"></i>SetUp</button>
			<table id="scope">
				<tr>
				<td>
				<table id="Medialist">
					<tr><th>VIDEOS</th><th>IMAGES</th></tr>
					<tr>
						<td id="VideoList"></td>
						<td id="ImgList"></td>
						<td class="grid">
							<div id="box">
								<canvas id="clock"></canvas>
							</div>
						</td>
					</tr>
				</table>
				<table id="TitleList" class="" width="100%"><thead><tr><th>Name</th><th>Title</th></tr></thead><tbody></tbody></table>
				<table class="inputCont">
						<tr><th><label for="name">Name:</label></th><th><label for="name">Title:</label></th></tr>
						<tr><form id="Title1Ad" method="post"><td><input type="text" name="name" id="name1"></td><td><input type="text" name="title" id="title1"></td></form><td><button class="TitleDB">Add</button></td><td><button id="export">Export</button></td><td><button id="empty">Empty</button></td><td><button id="sort">Sort</button></td><td><label for="fileUpload" id="choose">File</label><input type="file" id="fileUpload" style="visibility:hidden;"/></td><td><button id="upload">Upload</button></td></tr>
					</table>
				</td>
				<td>
					<div class="card" id="vtr1_box">
						<div class="card-body bg-light text-center ">
							<div class="imgCont"><img class="thumb" src="/images/CH1.png"></div>
							<div class="row"><h2 class="sTemp col-4">VTR 1</h2><h2><div class="clip"></div></h2></div>
							<div class="row">
								<div class="sTemp col-3 current">Elapsed: <h1>00:00:00:00</h1></div>
								<div class="col-3 remaining">Remaining: <h1>00:00:00:00</h1></div>
								<div class="col-3 duration">Duration: <h1>00:00:00:00</h1></div>
							</div>
							<div class="row">
								<div class="col text-center">
									<button id="uiAction" action="" class="sTemp loop" ><i class="fas fa-sync-alt"></i> Loop</button>
									<button id="uiAction" class="prev hide" action="prev" channel="" layer=""><i class="fas fa-backward"></i> Prev</button>                    
									<button id="uiAction" action="" channel="" layer="" class="dev1"></button>
									<button id="uiAction" class="next hide" action="next" channel="" layer=""><i class="fas fa-forward"></i> Next</button>                    
									<button id="uiAction" action="stop" channel="" layer="" class="dv1"><i class="fas fa-eject"></i> Stop</button>                    
									<button id="plAction" channel="" layer="" class="dv1"><i class="fas fa-list"></i> Playlist</button>                    
									<button id="uiAction" class="empty hide" action="empty" channel="" layer=""><i class="fas fa-trash"></i> Empty</button>                    
								</div>
							</div>
							<div class="progress mb-4" id="vtr1_box_out">
								<div class="progress-bar notransition progress-bar-striped progressb" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="vtr1_box_in"></div>
							</div>
						</div>
 						<table class="playList hide" width="99%"><thead><tr><th>Name</th><th>Duration</th></tr></thead><tbody class="plist"></tbody></table>
					</div>
					<div class="card" id="vtr2_box">
						<div class="card-body bg-light text-center">
							<div class="imgCont"><img class="thumb" src="/images/CH2.png"></div>
							<div class="row"><h2 class="sTemp col-4">VTR 2</h2><h2><div class="clip"></div></h2></div>
							<div class="row">
								<div class="sTemp col-3 current">Elapsed: <h1>00:00:00:00</h1></div>
								<div class="col-3 remaining">Remaining: <h1>00:00:00:00</h1></div>
								<div class="col-3 duration">Duration: <h1>00:00:00:00</h1></div>
							</div>
							<div class="row">
								<div class="col text-center">
									<button id="uiAction" action="" class="sTemp loop"><i class="fas fa-sync-alt"></i> Loop</button>
									<button id="uiAction" class="prev hide" action="prev" channel="" layer=""><i class="fas fa-backward"></i> Prev</button>                    
									<button id="uiAction" action="" channel="" layer="" class="dev2"></button>
									<button id="uiAction" class="next hide" action="next" channel="" layer=""><i class="fas fa-forward"></i> Next</button>                    
									<button id="uiAction" action="stop" channel="" layer="" class="dv2"><i class="fas fa-eject"></i> Stop</button>                    
									<button id="plAction" channel="" layer="" class="dv2"><i class="fas fa-list"></i> Playlist</button>                    
									<button id="uiAction" class="empty hide" action="empty" channel="" layer=""><i class="fas fa-trash"></i> Empty</button>                    
								</div>
							</div>
							<div class="progress mb-4" id="vtr2_box_out">
								<div class="progress-bar notransition progress-bar-striped progressb" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="vtr2_box_in"></div>
							</div>
						</div>
							<table class="playList hide" width="99%"><thead><tr><th>Name</th><th>Duration</th></tr></thead><tbody  class="plist"></tbody></table>
					 </div>
				<table width="100%">
				<tr>
				<td><div class="card" id="bug1_box">
                    <div class="card-bug bg-light text-center">
							<div class="logoCont"><img class="thumb" src=""></div>
							<div class="row"><h2 class="sTemp col-4">BUG 1</h2><h2><div class="clip"></div></h2></div>
							<div class="row">
                            <div class="col text-center">
                                <button id="bugAction" class="sTemp play" action="bug" channel="" layer="" logo=""></button>
                            </div>
						</div>
					</div>
				</div></td>
				<td><div class="card" id="bug2_box">
					<div class="card-bug bg-light text-center">
 							<div class="logoCont"><img class="thumb" src=""></div>
							<div class="row"><h2 class="sTemp col-4">BUG 2</h2><h2><div class="clip"></div></h2></div>
							<div class="row">
                            <div class="col text-center">
                                <button id="bugAction" class="sTemp play" action="bug" channel="" layer="" logo=""></button>
                            </div>
                        </div>
                    </div>
                </div>
				</td></tr>
				<tr>
				<td><div class="card" id="dve1_box">
                    <div class="card-cg bg-light text-center">
					<div class="titleCont">
							<div>Name:</div>
							<div id="Temp1Name"></div>
							<div>Title:</div>
							<div id="Temp1Title"></div>
						</div>
 						<div class="row"><h2 class="sTemp cool">DVE 1</h2></div>
						<div class="row">
                            <div class="col text-center">
                                <button id="tempAction" class="sTemp play" action="cg" channel="" layer="" tmpl="" json=""></button>
                                <button id="tempAction" action="up" channel="" layer="" json=""><i class="fas fa-redo-alt"></i>Update</button>
								<h2><div id="CH3" class="sTemp"></div></h2>
                            </div>
						</div>
					</div>
				</div></td>
				<td><div class="card" id="dve2_box">
					<div class="card-cg bg-light text-center">
					<div class="titleCont">
							<div>Name:</div>
							<div id="Temp2Name"></div>
							<div>Title:</div>
							<div id="Temp2Title"></div>
						</div>
 						<div class="row"><h2 class="sTemp cool">DVE 2</h2></div>
						<div class="row">
                            <div class="col text-center">
                                <button id="tempAction" class="sTemp play" action="cg" channel="" layer="" tmpl="" json=""></button>
                                <button id="tempAction" action="up" channel="" layer="" json=""><i class="fas fa-redo-alt"></i>Update</button>
								<h2><div id="CH4" class="sTemp"></div></h2>
                            </div>
                        </div>
                    </div>
                </div>
				</td></tr>
				<tr>
				<td><div class="card" id="dve3_box">
                    <div class="card-cg bg-light text-center">
					<div class="titleCont">
							<div>Name:</div>
							<div id="Temp3Name"></div>
							<div>Title:</div>
							<div id="Temp3Title"></div>
						</div>
 						<div class="row"><h2 class="sTemp cool">DVE 3</h2></div>
						<div class="row">
                            <div class="col text-center">
                                <button id="tempAction" class="sTemp play" action="cg" channel="" layer="" tmpl="" json=""></button>
                                <button id="tempAction" action="up" channel="" layer="" json=""><i class="fas fa-redo-alt"></i>Update</button>
								<h2><div id="CH5" class="sTemp"></div></h2>
                            </div>
                        </div>
                    </div>
				</div></td>
				<td><div class="card" id="dve4_box">
					<div class="card-cg bg-light text-center">
					<div class="titleCont">
							<div>Name:</div>
							<div id="Temp4Name"></div>
							<div>Title:</div>
							<div id="Temp4Title"></div>
						</div>
 						<div class="row"><h2 class="sTemp cool">DVE 4</h2></div>
						<div class="row">
                            <div class="col text-center">
                                <button id="tempAction" class="sTemp play" action="cg" channel="" layer="" tmpl="" json=""></button>
                                <button id="tempAction" action="up" channel="" layer="" json=""><i class="fas fa-redo-alt"></i>Update</button>
								<h2><div id="CH6" class="sTemp"></div></h2>
                            </div>
                        </div>
                    </div>
                </div>
				</td></tr>
				</table>
				</td>
				</tr>
				</table>
            </div>          
        </div>      
    </div> 
	<!-- <video id="video" src="http://localhost:8080/desktop.ogg" autoplay="autoplay"> -->
    <!-- Core Libraries -->
    <script type="text/javascript" src="javascripts/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="javascripts/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/socket-io/socket.io.js"></script>
    <!-- Custom Script -->
    <script src="/javascripts/CCGNodeClient.js"></script>
    <script src="/javascripts/Vector.js"></script>
    <script src="/javascripts/clock.js"></script>
</body>
<footer></footer>
</html>
