<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeKeys</title>
<script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.min.js"></script>
    <!-- Add Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/javascripts/bootstrap/css/bootstrap.min.css">
    <!-- Add FontAwesome -->
    <link rel="stylesheet" href="/javascripts/font-awesome/css/all.css">
    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/ccg_node_style.css' />
</head>
<body onload="ignition();">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

					<div><div class="card-xkeys bg-light text-center ">
						<div class="row"><h2 class="sTemp col-4">Xkeys Keyboard</h2></div>
						<table id="XkeysLine1" width="100%"><tr></tr></table>
						<table id="XkeysLine2" width="100%"><tr></tr></table>
						<table id="XkeysLine3" width="100%"><tr></tr></table>
						<table id="XkeysLine4" width="100%"><tr></tr></table>
						<table id="XkeysSetAux1" width="100%"><tr></tr></table>
						<table id="XkeysSetAux2" width="100%"><tr></tr></table>
						<table id="XkeysSetPGM" width="100%"><tr></tr></table>
						<table id="XkeysSetPVW" width="100%"><tr></tr></table>
					</div></div>

            </div>  
        </div>      
    </div>    
    <!-- Core Libraries -->
    <script type="text/javascript" src="javascripts/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="javascripts/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/socket-io/socket.io.js"></script>
    <!-- Custom Script -->
    <script src="/javascripts/CCGNodeClient.js"></script>
</body>
<footer></footer>
</html>
