body {
    background: black;
}


@font-face {
    font-family: 'clock';
    src: url('/stylesheets/clock.ttf');
}
.grid {
    display: grid;
    grid-template-columns: auto 99% auto;
    grid-template-rows: auto 95% auto;
    grid-gap: 0px;
    padding: 0px;
}

#box {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
}

#clock {
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
